@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

@layer base {
  :root {
    --font-savate: 'Savate', sans-serif;
  }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
button{
  cursor: pointer;
}
html{
  scroll-behavior: smooth;
}